input {
    background-color: black;
    color: #fff;
    width: 200px;
    text-align: right;
}

div {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

button {
    width: 50px;
}

.big-button {
    width: 100px;
}